//
// Breakpoints
// =============================================================================

$bp-extra-small: 480px !default;
$bp-small:       768px !default;
$bp-medium:      960px !default;
$bp-large:       1120px !default;
$bp-extra-large: 1280px !default;
