//
// Breakpoints
// =============================================================================

// Breakpoints
$bp-extra-small: 30em !default;
$bp-small:       48em !default;
$bp-medium:      60em !default;
$bp-large:       70em !default;
$bp-extra-large: 80em !default;
