//
// Misc variables
// =============================================================================

// Default cursor
$default-cursor: default !default;

// Textarea resize
$textarea-resize: vertical !default;

// Transition duration
$transition-duration: 150ms !default;
