//
// Headings
// =============================================================================

h1, h2, h3, h4, h5, h6 {
  color: getColor(text, heading);
  font-family: $font-family-headings;
  margin: unitSize(1) 0;

  small{
    color: getColor(text, secondary);
    font-weight: lighter;
    vertical-align: 0;
  }
}

h1 { font-size: pxToEm($h1-size); }
h2 { font-size: pxToEm($h2-size); }
h3 { font-size: pxToEm($h3-size); }
h4 { font-size: pxToEm($h4-size); }
h5 { font-size: pxToEm($h5-size); }
h6 { font-size: pxToEm($h6-size); }
