//
// Buttons
// =============================================================================

button {
  background-color: getColor(base, primary);
  border: none;
  color: getColor(text, inverted);
  line-height: unitSize(6);
  padding: 0 2em;
  transition: $transition-duration;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: getColor(base, secondary);
    color: getColor(text, inverted);
  }

  &:active { background-color: lighten(getColor(base, secondary), 10%); }

  &[disabled] {
    background-color: getColor(base, border);
    color: getColor(text, secondary);
    cursor: not-allowed;
  }
}
