//
// Typography
// =============================================================================

// TODO: Experimental
address, article, aside, audio, blockquote, canvas, dd,
div, dl, fieldset, figcaption, figure, footer, form, header,
hr, ol, p, pre, section, table, table, tfoot, ul, video {
  &:not(:last-child) { margin-bottom: $block-margin; }
}

//
// Links
// ----------------------------------------

a {
  background-color: transparent;
  color: getColor(base, primary);
  cursor: pointer;
  text-decoration: none;
  transition: $transition-duration;

  &:hover,
  &:focus { color: getColor(base, secondary); }
}

//
// Abbreviations
// ----------------------------------------

abbr[title] {
  border-bottom: 1px dotted getColor(base, border);
  cursor: help;
}

//
// Code and related
// ----------------------------------------

code,
kbd,
pre,
samp {
  font-family: $font-family-mono;
  background-color: getColor(background, primary);
  border: 1px solid getColor(base, border);
  font-size: $font-small-size;
}

code,
kbd {
  white-space: nowrap;
  padding: unitSize(0.5) 0.5em;
  vertical-align: middle;
}

pre { padding: unitSize(1) 1em; }

pre code {
  background-color: transparent;
  border: none;
  vertical-align: inherit;
  white-space: pre;
  font-size: inherit;
}

kbd {
  border-radius: 3px;
  background-color: getColor(background, root);
  border: 1px solid getColor(base, border);
  box-shadow: 0 2px 0 -1px white,
              0 2px 0 darken(getColor(base, border), 1.5%);
  color: getColor(text, secondary);
}

//
// Blockquote
// ----------------------------------------

blockquote {
  color: getColor(text, secondary);

  p:last-of-type { margin-bottom: 0; }

  cite,
  footer {
    display: block;
    font-size: $font-small-size;
    font-style: italic;
  }

  cite:before,
  footer:before { content: "\2014 \00A0"; }
}

//
// Others
// ----------------------------------------

small,
sup,
sub { font-size: $font-small-size; }

small { vertical-align: text-bottom; }

sup,
sub { line-height: 0; }
