//
// Forms
// =============================================================================

//
// Base
// ----------------------------------------

input,
select,
textarea {
  color: getColor(text, secondary);
  border: 1px solid getColor(base, border);
  height: unitSize(5);
  transition: $transition-duration;
  width: 100%;

  &:focus {
    border-color: getColor(base, primary);
    outline: none;
  }

  &[disabled] {
    background-color: getColor(background, light);
    cursor: not-allowed;
  }
}

//
// Inputs
// ----------------------------------------

// Remove focus styles
[type="checkbox"],
[type="radio"],
[type="range"],
[type="file"],
[type="color"],
[type="submit"] {
  &:focus {
    border-color: transparent;
    box-shadow: none;
    outline: none;
  }
}

// Keep the original size for small inputs
[type="checkbox"],
[type="file"],
[type="image"],
[type="radio"] {
  height: auto;
  width: auto;
}

[type="checkbox"],
[type="radio"] { vertical-align: middle; }

// Checkbox & radio elements are inline with their label
[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
}

[type="file"] { border: none; }

[type="submit"] { @extend button; }

// Range input TODO: Refactor
[type="range"] {
  border: none;
  width: 100%;
  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    background-color: darken(getColor(background, light), 10%);
    border: none;
    border-radius: 3px;
    height: 5px;
  }

  &::-webkit-slider-thumb {
    border: none;
    border-radius: 50%;
    background-color: getColor(base, primary);
    height: 16px;
    margin-top: -5px;
    width: 16px;
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    background-color: darken(getColor(background, light), 10%);
    border: none;
    border-radius: 3px;
    height: 5px;
  }

  &::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: getColor(base, primary);
    height: 16px;
    margin-top: -5px;
    width: 16px;
  }

  &::-ms-track {
    background-color: darken(getColor(background, light), 10%);
    border: none;
    border-radius: 3px;
    color: transparent;
    height: 5px;
  }

  &::-ms-thumb {
    border: none;
    border-radius: 50%;
    background-color: getColor(base, primary);
    height: 16px;
    margin-top: -5px;
    width: 16px;
  }
}

//
// Select
// ----------------------------------------

select {
  -moz-appearance: none;    // Firefox 40+
  -webkit-appearance: none; // Chrome 45+
  background-color: transparent;

  &[disabled] { color: getColor(text, secondary); }
  &[multiple] { height: auto; }

  // Edge 12+, Internet Explorer 11-
  &::-ms-expand { display: none; }

  // Edge 12+, Internet Explorer 11-
  &::-ms-value { color: currentColor; }
}

//
// Others
// ----------------------------------------

textarea {
  height: auto;
  resize: $textarea-resize;;
}

label { display: block; }

fieldset { border: 1px solid getColor(base, border); }

legend { font-weight: bold; }
