//
// Lists
// =============================================================================

ul, ol {
  ul, ol { padding-left: 1.5em; }
}

//
// Definition Lists
// ----------------------------------------

dt { font-weight: bold; }

//
// Navigation Lists
// ----------------------------------------

nav ol,
nav ul { list-style: none; }
